@import '../../css/variables';


#search {
    min-height: 10vh;
    margin: 7rem 0;
    form {
        .search_container {
            width: 70%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows: 1fr 1fr 1fr ;
            align-items: center;
            justify-content: center;
            text-align: center;
            .checkboxes {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                align-items: center;
               
                label {
                    justify-self: right;
                    position: relative;
                    margin-bottom: 1rem;
                    width: 100%;
                    height: 25px;
                    line-height: 25px;
                    cursor: pointer;
                    user-select: none;
                    font-family: $secondary-font;
                    font-size: 2rem;
                    &:hover input ~ .checkmark {
                        background-color: #ccc;
                    }
    
                    input {
                        position: absolute;
                        opacity: 1;
                        left: 0;
                        top: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                        
                        &:checked ~ .checkmark {
                            background-color:$primary-color;
                        }
    
                        &:checked ~ .checkmark:after {
                            display: block;
                        }
                    }
                      
                  .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;
                    &::after {
                        content: "";
                        position: absolute;
                        display: none;
                    }
                  }
    
                  & .checkmark::after {
                    left: 10px;
                    top: 7px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                  }
                } 
        }
    }
    }
   
}

@media screen and (max-width: 1200px) {
    #search {
        form {
            .search_container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                width: 90%;
                .checkboxes {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    align-items: center;
                   
                    label {
                        margin-bottom: 2rem;
                        width: 80%;
                    }
                }
            }
        }
    }
}

  @media screen and (max-width: 768px) {
    #search {
        form {
            .search_container {
                width: 100%;
                .checkboxes {  
                    label {
                        margin-bottom: 2.5rem;
                        width: 95%;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
  }

  @media screen and (max-width: 574px) {
    #search {
        form {
            .search_container {
                .checkboxes {  
                    label {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
  }

  @media screen and (max-width: 280px) {
    #search {
        form {
            .search_container {
                .checkboxes {  
               
                    label {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
  }


