@import 'variables';

// MAIN STYLES //
#root {
    min-width: 100%;
    min-height: 100%;
}

html, body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

html { 
    font-size: 62.5%; 
    scroll-padding-top: 8rem;
    scroll-behavior: auto;
}

body {
    font-family: $primary-font;
}

h1 {
    font-size: 3rem;
}

// CLEARİNG SPACES  //
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

// RESPONSIVE MEDIA QUERIES //
@media screen and (max-width: 1200px) {
    #root {
        max-width: 100%;
    }
    .container {
        width: 100%;
    }
  }



  