
@import 'variables';


// MAIN STYLES //
#root {
    min-width: 100%;
}

html { 
    font-size: 62.5%; 
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

body {
    font-family: $primary-font;
}

section {
    height: 94vh;
}

.container {
    width: 70%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}




// CLEARİNG SPACES  //
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
// sticky Header //
.stickyStyle {
    z-index: 9;
    background-color: rgba(248, 143, 1, 0.9);
    filter:brightness(120%);
}

.stickyMenu {
    color: $light-color !important;
    &::after {
        background: $light-color !important;
    }
}

.stickyLogo a {
    color: $light-color !important;
        
}
// HEADER STYLES //


#header {
    @extend %transition;
    position: sticky;
    top: 0;
    padding: 0.7rem 0;
    .container {
        @include centering-flex(space-between,row );
        .logo {
            a {
                font-size: 3.2rem;
                user-select: none;
                cursor: pointer;
                font-style: italic;
                font-family: $secondary-font;
                letter-spacing: 0.5rem;
                color: $primary-color;
            }
        }

        nav {
            ul {
                @include centering-flex(space-between, row);
            li {
                margin-right: 1rem;
                &:last-of-type {
                    margin-right: 0;
                }

                .nav-links {
                    color: $primary-color;
                    display: block;
                    position: relative;
                    @extend %transition;
                    font-size: 2vh;
        
                    &:hover {
                        color: $secondary-color;
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        top: 100%;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: $primary-color;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform 0.5s;
                      }
        
                      &:hover::after {
                        transform: scaleX(1);
                        transform-origin: left;
                      }
                }
            }
          }

         
        }
    }
}


// RESPONSIVE MEDIA QUERIES //

@media screen and (max-width: 1200px) {
    #root {
        max-width: 100%;
    }
    .container {
        width: 100%;
    }

    // HEADER RESPONSIVE //

    #header .container  {
       @include centering-flex(space-between,column); 
    }

   
  }

  