@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
/* $light-color: #FFFFFF;
$dark-color: #000000;
$primary-color: #ff7b54;
$secondary-color: #ffb26b;
$third-color: #ffd56b;
$fourth-color: #939b62; */
/* $primary-color: #ff7b54; */
#header, #header .container nav ul li .nav-links {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#root {
  min-width: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body {
  font-family: "Montserrat", sans-serif;
}

section {
  height: 94vh;
}

.container {
  width: 70%;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stickyStyle {
  z-index: 9;
  background-color: rgba(248, 143, 1, 0.9);
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.stickyMenu {
  color: #FFFFFF !important;
}

.stickyMenu::after {
  background: #FFFFFF !important;
}

.stickyLogo a {
  color: #FFFFFF !important;
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.7rem 0;
}

#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header .container .logo a {
  font-size: 3.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-style: italic;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.5rem;
  color: #f88f01;
}

#header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header .container nav ul li {
  margin-right: 1rem;
}

#header .container nav ul li:last-of-type {
  margin-right: 0;
}

#header .container nav ul li .nav-links {
  color: #f88f01;
  display: block;
  position: relative;
  font-size: 2vh;
}

#header .container nav ul li .nav-links:hover {
  color: #e27802;
}

#header .container nav ul li .nav-links::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #f88f01;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#header .container nav ul li .nav-links:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media screen and (max-width: 1200px) {
  #root {
    max-width: 100%;
  }
  .container {
    width: 100%;
  }
  #header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=app.css.map */