@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
/* $light-color: #FFFFFF;
$dark-color: #000000;
$primary-color: #ff7b54;
$secondary-color: #ffb26b;
$third-color: #ffd56b;
$fourth-color: #939b62; */
/* $primary-color: #ff7b54; */
main .container .row .card .img-text, main .container .row .card .img-text .middle button {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .container .row .card .img-text .middle button:hover {
  background-color: #58391c;
}

main {
  margin: 8rem 0;
  height: auto;
}

main .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

main .container .content-header {
  text-align: center;
  margin-bottom: 7rem;
}

main .container .content-header h1 {
  font-size: 3.7vh;
  color: #f88f01;
}

main .container .content-header span {
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-size: 1.7vh;
}

main .container .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-row-gap: 4rem;
}

main .container .row .card {
  width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

main .container .row .card::after {
  content: attr(data-category);
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 25%;
  height: 30px;
  font-family: "PT Sans", sans-serif;
  font-size: 1.4vh;
  color: #FFFFFF;
  background-color: #f88f01;
  line-height: 27px;
  cursor: pointer;
  border-bottom-left-radius: 0.8rem;
}

main .container .row .card .img-wrapper img {
  max-width: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  border-radius: 0.8rem;
  height: auto;
}

main .container .row .card .img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: rgba(255, 178, 107, 0.1);
}

main .container .row .card .img-text:hover {
  background-color: rgba(255, 178, 107, 0.4);
}

main .container .row .card .img-text .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFFFFF;
}

main .container .row .card .img-text .middle h2 {
  font-size: 2.6vh;
  font-family: "PT Sans", sans-serif;
}

main .container .row .card .img-text .middle p {
  margin: 1vh 0;
  font-size: 1.5vh;
  font-weight: 600;
}

main .container .row .card .img-text .middle button {
  width: 11.2vh;
  height: 4.2vh;
  border: 0;
  font-size: 1.5vh;
  font-weight: 400;
  cursor: pointer;
  background-color: #f88f01;
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
}

main .container .row .card .img-text h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5vh;
  color: #FFFFFF;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
  #main .container .row {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #main .container .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}
/*# sourceMappingURL=contents.css.map */