@import 'variables';

// SİNGLE ROOM HERO STYLES //
h2 {
    font-size: 2.7vh;
    color: $primary-color;
    margin-bottom: 3rem;
}

#singleRoom {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(120%);
    height: 90vh;
    .container {
        .hero-content {
            margin: 0;
            position: absolute;
            top: 52%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            h1 {
                font-size: 4.7vh;
                color: $primary-color;
                font-weight: 700;
            }
    
            h3 {
                font-size: 3.2vh;
                color: $light-color;
                margin: 1rem 0;
            }
    
            button {
                @include button(1.7vh, 15.5vh, 4.7vh, 600);
            }
        }
       
    }

}

// SİNGLE ROOM FEATURES STYLES //

#features {
    margin: 8rem 0;
    height: fit-content;

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        'img img img'
        'textleft textleft textright'
        'extras extras extras';
        grid-row-gap: 10rem;
        
        height: auto;
        .img-row {
            grid-area: img;
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            & a {
                margin-right: 2rem;
                max-width: 100%;
                height: 300px;
                & img {         
                    border-radius: 0.8rem;
                    max-width: 100%;  
                    height: auto; 
                }
            }
             
           
        }
     

        .singleRoom-details-left {
            grid-area: textleft;
            height:  auto;
             p {
                 font-size: 2.3vh;
                 color: $fourth-color;
                 font-family: $secondary-font;
             }
            
        }

        .singleRoom-details-right {
            grid-area: textright;
            text-align: center;
            height: auto;
            ul {
                margin-top: 2rem;
                font-size: 2vh;
               
                li {
                    display: grid;
                    grid-template-columns: 50% 50%;
                     grid-template-rows: 1fr;
                    margin: 1.3vh 0;
                }
            }
        }




        .singleRoom-extras {
            grid-area: extras;

            b {
                color: $fourth-color;
                font-size: 2vh;
                margin-right: 2vh;
                & svg {
                    margin-right: 0.5rem;
                    color: $primary-color;
                }
              
            }
        }

        
    }
}


@media screen and (max-width: 1200px) {
   
    // MAIN RESPONSIVE //
    .singleRoom-details-left {
        text-align: center;
    }

  
        
        #features .container {
            width: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            'img img'
            'img img'
            'textleft textright'
            'extras extras';
           
            .img-row {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                & a {
                    margin: 0 1rem 1rem 0;
                    align-self: center;
                    justify-self: center;
                }
            }
   
               
        }
   
   
  }


@media screen and (max-width: 768px) {

   

    #features .container {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 4rem;
        grid-column-gap: 0.3rem;
        grid-template-areas: 
        'img'
        'textleft'
        'textright'
        'extras';
        height: auto;
    }

    .singleRoom-extras {
        @include centering-flex(center, column);
        
        b {
            margin: 0.4vh 0;
            font-size: 2.3vh;
        }
    }

    .img-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
          
        & a {
            margin: 0 0 2rem 0;
            align-self: center;
            justify-self: center;
        }
     }
  }

