@import '../../css/variables';

// HERO STYLES //
#hotels_hero {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.7)),
    url('https://images.pexels.com/photos/3201921/pexels-photo-3201921.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(120%);
    min-height: 90vh;
    will-change : transform;
    overflow: hidden;
    .container {
        width: 70%;
        margin: 0 auto;
        .hero_content {
            margin: 0;
            position: absolute;
            top: 52%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            h1 {
                font-size: 4.5rem;
                color: $primary-color;
                font-weight: 700;
            }
    
            h3 {
                font-size: 3rem;
                color: $light-color;
                margin: 2rem 0;
            }
            
            button {
              @include button(1.5rem, 15.3rem, 4.5rem, 600);
            }    
        }
    }
}

#hotels {
    margin: 8rem 0;  
    min-height: 130vh;
    .container {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        .search_title {
            text-align: center;
            h1 { 
                font-size: 3.5rem;
                color: $primary-color;
            }
            span {
                font-family: $secondary-font;
                font-style: italic;
                font-size: 1.5rem;
            }
        }
        .row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 4rem;
            .card {
                position: relative;
                text-align: center;
                margin: 0 auto;
                &::after {
                    content: attr(data-category);
                    position: absolute;
                    bottom: 2px;
                    left: 0;
                    width: 25%;
                    height: 30px;
                    font-family: $secondary-font;
                    font-size: 1.2rem;
                    color: $light-color;
                    background-color: $primary-color;
                    line-height: 27px;
                    cursor: pointer;
                    border-bottom-left-radius: 0.8rem;
                }
                .img_wrapper {
                    & img {
                        max-width: 100%;
                        filter: brightness(50%);
                        border-radius: 0.8rem;
                        height: auto;
                    }
                }
                .img_text {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 100%;
                  height: 100%;
                  transform: translate(-50%, -50%);
                  @extend %transition;
                  cursor: pointer;
                  border-radius: 0.8rem;
                  background-color: rgba(255, 178, 107, 0.1);
                    &:hover {
                        background-color: rgba(255, 178, 107, 0.4);
                    }

                  .middle {
                    position: absolute;
                    @include centering-flex(center, column);
                    top: 45%;
                    left: 50%;
                    width: 100%;
                    height: 60%;
                    transform: translate(-50%, -50%);
                    color: $light-color;
                    h2 {
                        font-size: 2.4rem;
                        font-family: $secondary-font;
                    }
                    
                    p {
                        margin: 1rem 0;
                        font-size: 1.3rem;
                        font-weight: 600;
                    }

                    button {
                        @include button(1.3rem, 11rem, 4rem, 400);
                        @extend %transition;
                        font-family: $secondary-font;

                        &:hover {
                            @extend %button-hover;
                        }
                    }

                  }

                  h3 {
                    font-family: $secondary-font;
                    font-size: 1.3rem;
                    color: $light-color;
                    position: absolute;
                    top: 90%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #hotels {
        .container {
            width: 95%;
            .row {
                grid-template-columns: 1fr 1fr;
                grid-gap: 1.5rem;
            }
        } 
    } 
  }

@media screen and (max-width: 768px) {
    #hotels {
        .container {
            .row {
                grid-template-columns: 1fr;
                    grid-gap: 1rem;
            }
        } 
    } 
  }







